@import 'utility';

.login {
    width: 60%;
    margin: 10% auto 0 auto;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 3px rgb(28, 80, 110);
    color: #fdfdfd;
    padding: 1rem;
    border-radius: 3px;

    animation: surgir 1s linear;

    form {
        width: 100%;
        @include flex(flex-direction, column, align-items, center);

        img {
            width: 40px;
            margin-bottom: 2rem;
        }

        input {
            @extend %input;
        }

        #submit {
            @extend %button-neon01;
            width: 35%;

            &:hover {
                @extend %button-neon01hover;
                cursor: pointer;
            }
        }

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;

            a {
                @extend %link-submit-blue;
            }
        }
    }
}

@keyframes surgir {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .login {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .login {
        width: 100%;
        box-shadow: none;
        margin: 0;
        border-radius: 0;

        form {
            input {
                padding: 0.5rem;
            }

            #submit {
                width: 80%;
            }

            div {
                width: 100%;
            }
        }
    }
}